<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="STTech.BytesIO.Core" version="2.12.9" targetFramework="net48" />
  <package id="STTech.BytesIO.Tcp" version="2.12.9" targetFramework="net48" />
  <package id="STTech.CodePlus" version="1.5.13" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>